.btn {
  padding: 5px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s opacity;
  &:hover {
    opacity: 0.8;
  }
}
.btn-primary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: white;
}
.btn-reverse-primary {
  background-color: white;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.text-primary {
  color: var(--primary);
}
